<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Mon site ecommerce{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ asset('dependencies/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('dependencies/bootstrap/dist/css/bootstrap-theme.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="container-fluid">

<div class="row">
    {% include ':partials:main-navbar.html.twig' %}
</div>
<div class="row">
    {% block content %}{% endblock %}
    {% block aside %} {% endblock %}
</div>

<footer>
    {% block footer %} {% endblock %}
</footer>

{% block javascript %}
    <script src="{{ asset('dependencies/jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset('dependencies/bootstrap/dist/js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>